<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>zrks: {{ .Title }}</title>
    <style>
        h1 {
            color: green
        }
    </style>
</head>

<body> {{ .Body }} </body>

</html>
